*{
  font-family: 'Open Sans', sans-serif;
}
a, a:hover{
  text-decoration: none;
}
.myAnchor{
  /* height: 50px; */
}
@keyframes fade-in{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.confetti-home{
  position: absolute;
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(250, 232, 232, 0.26); */
  /* background-color: rgba(243, 232, 250, 0.26); */
  z-index: 1;
  animation: fade-in 0.5s ease-in;
}
div.myAnchor{
  padding: 10px;
  margin: 0;
}
div.myDiamonds{
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 0;
}
div.myName{
  animation: fade-in 1s linear;
  position: relative;  
  margin: auto;
}
div.myName, #white-name{
  z-index: 2;
  width: 80%;
}
#white-name{
  width: 100%;
  position: absolute;
  left: 1%;
  top: -1%;
}

div.titleBubbles{
  z-index: 3;
  /* this positioning allows the z-index to take effect */
  position: relative; 
  width: 100%;
  text-align: center;
  /* background-color: rgba(0, 128, 128, 0.678);  */
}
@keyframes bubble-slide-in{
  0% {transform: translateY(30px); opacity: 0}
  50% {transform: translateY(0px);}
  75% {transform: translateY(-2px);}
  100% {transform: translateY(0px); opacity: 1}
}
#bubble1, #bubble2, #bubble3{
  display: inline-block;
  margin: 5px 5%;
  animation: bubble-slide-in 1s linear;
}

.experience.mycontainer{
  position: relative;
  z-index: 3;
  margin-top: 100px;
  width: 100%;
}
/* Overriding the bubble styling */
#ProgrammerBubble h3, #DesignerBubble h3, #CrafterBubble h3{
  /* top: 40%; */
}
#ProgrammerBubble, #DesignerBubble, #CrafterBubble{
  display: inline-block;
}

@keyframes slide-in-from-right{
  0% {transform: translateX(30px); opacity: 0}
  75% {transform: translateX(0px);}
  /* 85% {transform: translateX(-2px);} */
  100% {transform: translateX(0px); opacity: 1}
}
#Programmer, #Designer, #Crafter{
  animation: slide-in-from-right 2s ease-in;
}

.card.designer{
  display: block;
}
img.webimg{
  width: 50px;
  border-radius: 100%;
}
img.webimg:hover{
  background-color: #8587ff;
}
#aisVid{
  width: 100%;
}
.myFooter{
  margin-top: 20px;
}
/* The confetti keeps moving down as the window gets smaller, so this is my bootleg way of ensuring that it remains above the start of the window so that the user doesn't see them originating from the middle of the screen */
@media (max-width: 1024px) {
  .confetti-home{
    top: -10%;
  }
}
@media (max-width: 768px) {
  .confetti-home{
    top: -20%;
  }
  div.myName{
    width: 100%;
  }
}
@media (max-width: 600px) {
  .confetti-home{
    top: -40%;
  }
}
@media (max-width: 400px) {
  .confetti-home{
    top: -60%;
  }
}