.confetti-home{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(250, 232, 232, 0.26); */
  z-index: 0;
}
h1.my-name{
  z-index: 1;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  color: white;
  font-size: 500%;
  font-family: 'Cedarville Cursive', sans-serif;
  /* font-family: 'Homemade Apple', sans-serif; */
}
div.myDiamonds{
  width: 100%;
  position: absolute;
  top: 0;
}
div.myName, #white-name{
  z-index: 2;
  width: 80%;
  position: absolute;
  top: 0;
  left: 10%;
}
#white-name{
  width: 100%;
  left: 1%;
  top: -1%;
}

/* The confetti keeps moving down as the window gets smaller, so this is my bootleg way of ensuring that it remains above the start of the window so that the user doesn't see them originating from the middle of the screen */
@media (max-width: 1024px) {
  .confetti-home{
    top: -10%;
  }
}
@media (max-width: 768px) {
  .confetti-home{
    top: -20%;
  }
}
@media (max-width: 600px) {
  .confetti-home{
    top: -40%;
  }
}
@media (max-width: 400px) {
  .confetti-home{
    top: -60%;
  }
}