.bigger-bubble{
  background-color: white;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(168, 168, 168, 0.438);  
  /* overflow hidden keeps the cards from falling out */
  overflow: hidden; 
}
.bigger-bubble .titleHolder{
  display: inline-block;
  width: 25%;
  min-width: 200px;
}
.bigger-bubble h2{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 175%;
  background: linear-gradient(to bottom, #7c8ccf 0%, #ac99c7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px 0 10px 20px;
}
.skillsHolder{
  color: grey;
  float: right;
  width: 70%;
}

@media (max-width: 1024px) {
  .skillsHolder{
    float: none;
    margin-left: 20px;
    width: inherit;
  }
}