.bubble{
  border-radius: 100%;
  background-color: #8587ff;
  width: 200px;
  height: 200px;
  color: white;
}
.bubble h3{
  text-align: center;
  position: relative;
  top: 30%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 150%;
}