.bubble{
  border-radius: 100%;
  background-color: #8587ff;
  width: 200px;
  height: 200px;
  color: white;
}
.bubble h3{
  text-align: center;
  position: relative;
  top: 30%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 150%;
}
.bubble:hover{
  background-color: rgb(255, 255, 255);
}
.bubble:hover h3{
  color: #8587ff;
  background: linear-gradient(to bottom, #7c8ccf 0%, #ac99c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}