/*========================== PLAIN CARD STYLE ==========================*/
div.card{
  border: 1px solid rgb(241, 241, 241);
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* SHARED STYLES between ExperienceCard and Project Card*/
div.titleBar{
  position: relative;
  margin-bottom: 20px;
}
.project-title{
  text-transform: uppercase;
  color: white;
  font-size: 120%;
  color: #3e3e83;
  display: inline;
  /* background: pink; */
}
div.titleBar:hover h4.project-title, div.titleBar:hover p.date{
  color: #8587ff;
}
p.date{
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
}
/*========================== PROJECT CARD STYLE ==========================*/
div.titleBar:hover img.github_logo{
  background-color: #8587ff;
}
.myProjectCard div.cardLeft img, img.coverImg{
  border-radius: 5px;
  width: 100%;
}
.myProjectCard div.cardLeft{
  width: 30%;
  display: inline-block;
}
.myProjectCard div.cardRight{
  float: right;
  display: inline-block;
  width: 65%;
  margin: 0 2%;
}
ul.stackList li:hover{
  color: #8587ff;
}
img.github_logo{
  width: 25px;
  border-radius: 100%;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
h5.stackTitle{
  color: rgb(80, 80, 80);
  font-size: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
/* shared btw carousel and prject */
p.proj-desc, ul.stackList, .expDesc{
  color: rgb(80, 80, 80);
  margin-top: 0;
}

/*========================== EXPERIENCE CARD STYLES ==========================*/

/*========================== EXPERIENCE CARD w CAROUSEL STYLES ==========================*/
.experienceCardwCarousel{
  width: 100%;
  display: block;
  margin: 20px 0;
}
.experienceCardwCarousel .leftSide{
  width: 40%;
  display: inline-block;
  /* border: 5px solid rgb(47, 231, 255); */
}
.experienceCardwCarousel .rightSide{
  width: 56%;
  float: right;
  margin-left: 4%;
  /* border: 5px solid rgb(47, 231, 255); */
}
.experienceCardwCarousel .carousel img{
  object-fit: contain;
  width: 100%;
}

/* MEDIA QUERIS */
@media (max-width: 1024px) {
  /* PROJECT CARD */
  div.myProjectCard{
    width: inherit;
    margin: 5px auto;
  }
}
@media (max-width: 768px) {
  /* experience card w carousel */
  .experienceCardwCarousel .rightSide{
    float: none;
  }
  .experienceCardwCarousel .leftSide{
    margin-bottom: 20px;
  }
  .experienceCardwCarousel .rightSide{
    margin: 0;
    text-align: center;
  }
  .experienceCardwCarousel .rightSide, .experienceCardwCarousel .leftSide{
    display: block;
    width: 100%;
  }
}
@media (max-width: 440px) {
  /* PROJECT CARD */
  p.date{
    float: none;
    clear: both;
  }
  .myProjectCard div.cardLeft{
    margin-bottom: 10px;
  }
  .myProjectCard div.cardLeft, .myProjectCard div.cardRight{
    float: none;
    display: block;
    width: 100%;
  }
}