div.myCard{
  /* border: 1px solid rgb(216, 216, 216); */
  border: 1px solid rgb(241, 241, 241);
  border-radius: 10px;
  /* margin: 5px 1%; */
  padding: 20px;
  /* width: 42%; */
  /* width: 95%; */
  /* background-color: pink; */
  display: inline-block;
  position: relative;
  /* float: left; */
}
div.titleBar{
  position: relative;
  margin-bottom: 20px;
}
.myCard h4.project-title{
  text-transform: uppercase;
  color: white;
  /* text-align: center; */
  font-size: 120%;
  margin: 0 0px 20px 0px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #3e3e83;
  display: inline;
  /* background: linear-gradient(to bottom, #a5b4f3 0%, #d5c4ec 100%); */
  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
div.titleBar:hover img.github_logo{
  background-color: #8587ff;
}
div.titleBar:hover h4.project-title, div.titleBar:hover p.date{
  color: #8587ff;
}
a{
  text-decoration: none;
}
p.date{
  position: absolute;
  top: -8px;
  right: 10px;
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
}
.myCard div.cardLeft img, img.coverImg{
  border-radius: 5px;
  width: 100%;
}
.myCard .demoVideo{
  width: 100%;
  border-radius: 5px;
}
div.cardLeft{
  width: 30%;
  display: inline-block;
}
div.cardRight{
  float: right;
  display: inline-block;
  width: 65%;
  margin: 0 2%;
}
p.proj-desc, ul.stackList{
  color: rgb(80, 80, 80);
  margin-top: 0;
}
ul.stackList li:hover{
  color: #8587ff;
}
img.github_logo{
  width: 25px;
  border-radius: 100%;
  position: relative;
  top: 5px;
}
h5.stackTitle{
  color: rgb(80, 80, 80);
  font-size: 100%;
  margin-bottom: 5px;
}
.myCard .displayNone, .myCard .displayNone video, .myCard .displayNone img{
  display: none;
}

@media (max-width: 1024px) {
  div.myCard{
    width: inherit;
    margin: 5px auto;
  }
}