div.myCard{
  /* border: 1px solid rgb(216, 216, 216); */
  border: 1px solid rgb(241, 241, 241);
  border-radius: 10px;
  padding: 20px;
  /* padding-top: 0; */
  /* width: 50%; */
  /* background-color: pink; */
  display: inline-block;
  position: relative;
  margin: 5px 0;
}
div.myCard:hover{
  /* background-color: rgb(241, 241, 241); */
  /* border: 1px solid rgb(241, 241, 241); */
}
div.titleBar{
  position: relative;
  margin-bottom: 20px;
}
.myCard h4.project-title{
  text-transform: uppercase;
  color: white;
  /* text-align: center; */
  font-size: 120%;
  margin: 0 0px 20px 0px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #3e3e83;
  display: inline;
  /* background: linear-gradient(to bottom, #a5b4f3 0%, #d5c4ec 100%); */
  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
p.date{
  position: absolute;
  top: 0;
  right: 20px;
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
}
.myCard img{
  border-radius: 5px;
  width: 100%;
}
div.cardLeft{
  width: 30%;
  display: inline-block;
}
div.cardRight{
  float: right;
  display: inline-block;
  width: 65%;
  margin: 0 2%;
}
p.proj-desc, ul.stackList{
  color: rgb(80, 80, 80);
  margin-top: 0;
}
img.github_logo{
  width: 25px;
  border-radius: 100%;
  
}
img.github_logo:hover{
  background-color: #8587ff;
}
h5.stackTitle{
  color: rgb(80, 80, 80);
  font-size: 100%;
  margin-bottom: 5px;
}