@keyframes confetti-falling{
  0%  {transform: translateY(0); opacity: 1;}
  20%  {transform: translateY(100px) translateX(10px); opacity: 1;}
  40%  {transform: translateY(300px) translateX(-10px); opacity: 1;}
  60%  {transform: translateY(500px) translateX(5px) scale(0.9); opacity: 0.6;}
  80%  {transform: translateY(700px) translateX(-5px) scale(0.7); opacity: 0.2}
  100%  {transform: translateY(800px) translateX(10px) scale(0.6); opacity: 0;}
}
#circle-svg, #circle-svg-group{
  width: 100%;
  /* z-index: 0; */
}
#circle-svg circle, #circle-svg-group.circle{
  /* fill: white; */
  fill: url("#circleGlowGradient");
  animation: confetti-falling 10s linear infinite; 
  /* z-index: 0;  */
}
circle#confetti-1, circle#confetti-21, circle#confetti-41, circle#confetti-61{
  animation-delay: 1s;
}
circle#confetti-2, circle#confetti-22, circle#confetti-42, circle#confetti-62{
  animation-delay: 2s;
}
circle#confetti-3, circle#confetti-23, circle#confetti-43, circle#confetti-63{
  animation-delay: 5s;
}
circle#confetti-4, circle#confetti-24, circle#confetti-44, circle#confetti-64{
  animation-delay: 3s;
}
circle#confetti-5, circle#confetti-25, circle#confetti-45, circle#confetti-65{
  animation-delay: 8s;
}
circle#confetti-6, circle#confetti-26, circle#confetti-46, circle#confetti-66{
  animation-delay: 10s;
}
circle#confetti-7, circle#confetti-27, circle#confetti-47, circle#confetti-67{
  animation-delay: 3.5s;
}
circle#confetti-8, circle#confetti-28, circle#confetti-48, circle#confetti-68{
  animation-delay: 12s;
}
circle#confetti-9, circle#confetti-29, circle#confetti-49, circle#confetti-69{
  animation-delay: 1.5s;
}
circle#confetti-10, circle#confetti-30, circle#confetti-50, circle#confetti-70{
  animation-delay: 0.5s;
}
circle#confetti-11, circle#confetti-31, circle#confetti-51, circle#confetti-71{
  animation-delay: 9s;
}
circle#confetti-12, circle#confetti-32, circle#confetti-52, circle#confetti-72{
  animation-delay: 4s;
}
circle#confetti-13, circle#confetti-33, circle#confetti-53, circle#confetti-73{
  animation-delay: 5.5s;
}
circle#confetti-14, circle#confetti-34, circle#confetti-54, circle#confetti-74{
  animation-delay: 13s;
}
circle#confetti-15, circle#confetti-35, circle#confetti-55, circle#confetti-75{
  animation-delay: 7s;
}
circle#confetti-16, circle#confetti-36, circle#confetti-56, circle#confetti-76{
  animation-delay: 2.5s;
}
circle#confetti-17, circle#confetti-37, circle#confetti-57, circle#confetti-77{
  animation-delay: 4.2s;
}
circle#confetti-18, circle#confetti-38, circle#confetti-58, circle#confetti-78{
  animation-delay: 1.7s;
}
circle#confetti-19, circle#confetti-39, circle#confetti-59, circle#confetti-79{
  animation-delay: 0.2s;
}
circle#confetti-20, circle#confetti-40, circle#confetti-60, circle#confetti-80{
  animation-delay: 1.3s;
}
