@keyframes confetti-falling{
  0%  {transform: translateY(0); opacity: 1;}
  20%  {transform: translateY(100px) translateX(10px); opacity: 1;}
  40%  {transform: translateY(300px) translateX(-10px); opacity: 1;}
  60%  {transform: translateY(500px) translateX(5px) scale(0.9); opacity: 0.6;}
  80%  {transform: translateY(700px) translateX(-5px) scale(0.7); opacity: 0.2}
  100%  {transform: translateY(800px) translateX(10px) scale(0.6); opacity: 0;}
}
#circle-svg circle{
  /* fill: white; */
  fill: url("#circleGlowGradient");
  animation: confetti-falling 10s linear infinite;  
}
circle#confetti-1, circle#confetti-21{
  animation-delay: 1s;
}
circle#confetti-2, circle#confetti-22{
  animation-delay: 2s;
}
circle#confetti-3, circle#confetti-23{
  animation-delay: 5s;
}
circle#confetti-4, circle#confetti-24{
  animation-delay: 3s;
}
circle#confetti-5, circle#confetti-25{
  animation-delay: 8s;
}
circle#confetti-6, circle#confetti-26{
  animation-delay: 10s;
}
circle#confetti-7, circle#confetti-27{
  animation-delay: 3.5s;
}
circle#confetti-8, circle#confetti-28{
  animation-delay: 12s;
}
circle#confetti-9, circle#confetti-29{
  animation-delay: 1.5s;
}
circle#confetti-10, circle#confetti-30{
  animation-delay: 0.5s;
}
circle#confetti-11, circle#confetti-31{
  animation-delay: 9s;
}
circle#confetti-12, circle#confetti-32{
  animation-delay: 4s;
}
circle#confetti-13, circle#confetti-33{
  animation-delay: 5.5s;
}
circle#confetti-14, circle#confetti-34{
  animation-delay: 13s;
}
circle#confetti-15, circle#confetti-35{
  animation-delay: 7s;
}
circle#confetti-16, circle#confetti-36{
  animation-delay: 2.5s;
}
circle#confetti-17, circle#confetti-37{
  animation-delay: 4.2s;
}
circle#confetti-18, circle#confetti-38{
  animation-delay: 1.7s;
}
circle#confetti-19, circle#confetti-39{
  animation-delay: 0.2s;
}
circle#confetti-20, circle#confetti-40{
  animation-delay: 1.3s;
}
