.myFooter{
  text-align: center;
  padding: 20px;
  /* border-top: 2px solid #e0e0e0; */
  background: linear-gradient(to bottom, #faf8ff 0%, #8e8fd8 100%);
  /* background-color: white; */
}
.myFooter img{
  width: 30px;
  margin: 0 10px;
}
.myFooter img.linkedin{
  border-radius: 3px;
}
.myFooter .gitHub{
  border-radius: 100%;
}
.myFooter .gitHub:hover, .myFooter .linkedin:hover{
  background-color: #8587ff;
}
.myFooter p{
  font-size: small;
  margin: 10px;
}
.myFooter img.smiley{
  width: 20px;
  margin: 0 5px;
}