.myNavbar{
  height: 45px;
}
nav.navbar #navbarNav .navbar-nav{
  position: absolute;
  right: 0;
  top: 0;
}
/* div.myNavbar, */
nav.navbar{
  /* background-color: rgba(255, 255, 255, 0.9); */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  text-align: right;
  /* height: 40px; */
}
.myNavbar ul{
  margin: 0;
  padding: 0;
}
.myNavbar li{
  border-radius: 5px;
  /* list-style: none; */
  /* margin: 1px; */
}
nav.navbar .navbar-nav .nav-link{
  /* display: inline-block; */
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
}
.myNavbar li:hover, nav.navbar .navbar-nav .nav-link:hover{
  background-color: rgb(0, 0, 0);
  color: #8587ff;  
}
.myNavbar a, .myNavbar a:visited{
  text-decoration: none;
  color: rgb(80, 80, 80);
}
.myNavbar img{
  width: 35px;
  position: absolute;
  top: 3px;
  left: 20px;
  z-index: 6;
}
/* Was at 1024, but the navbar was doing some weird stuff, so i changed it to this */
/* @media (max-width: 1024px) { */
@media (max-width: 991px) {
  .myNavbar ul{
    /* display: none; */
  }
  .myNavbar li{
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
  }
  nav.navbar #navbarNav .navbar-nav{
    width: 100%;
    position: absolute;
    top: 45px;
  }
  .navbar-light .navbar-toggler-icon{
    /* background: red; */
    background-image: url("../images/favicon.png");
    width: 45px;
    height: 45px;
    z-index: 6;
    position: relative;
    border-radius: 100%;
  }
  .navbar-light .navbar-toggler-icon:hover{
    border: 3px solid #8587ffa1;
  }
  .navbar-light .navbar-toggler{
    border: none;
    /* width: 45px; */
  }
  .navbar-light .navbar-toggler:focus{
    outline: none;
  }
  #myLogo{
    display: none;
  }
}