div.myNavbar{
  /* background-color: rgba(255, 255, 255, 0.9); */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  text-align: right;
  /* height: 40px; */
}
.myNavbar ul{
  margin: 0;
  padding: 0;
}
.myNavbar li{
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  /* background-color: pink; */
}
.myNavbar li:hover{
  /* background-color: #fff; */
  background-color: #000;
  color: #8587ff;
}
.myNavbar a, .myNavbar a:visited{
  text-decoration: none;
  color: rgb(80, 80, 80);
}
.myNavbar img{
  width: 35px;
  position: absolute;
  top: 3px;
  left: 20px;
  z-index: 6;
}

@media (max-width: 768px) {
  .myNavbar ul{
    /* display: none; */
  }
  .myNavbar li{
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
  }
}