.leftProjs, .rightProjs{
  width: 48%;
  padding: 0 1%;
  float: left;
}

.leftProjs .myCard, .rightProjs .myCard{
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardContainer{
  display: none;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; */
}
.ProgrammerEx .myProjectCard{
  /* width: 42%;
  margin: 1%; */
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .leftProjs, .rightProjs{
    display: none;
  }
  .cardContainer{
    display: block;
  }
}